.message-top-bar {
  background-color: #e9e9e9;
}

.selector {
  margin-top: 20px;
  
}

.messages-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow-y: auto;
  width: 100%;
  height: 60vh;

  .seen-container {
    .seen-message {
      color: #7e8fa5;
      float: right;
      font-size: 14px;
      margin-right: 50px;
    }
  }

  .align-left {
    align-self: flex-start;
  }

  .align-right {
    align-self: flex-end;
  }
}

.send-message {
  display: flex;
  margin-top: 20px;

  .button {
    border-radius: 50%;
    font-size: 30px;
    padding: 0;
    padding: 0 0 0 10px;
  }

  .input-container {
    margin-right: 20px;
    width: 85%;

    .input {
      background-color: #edf2f7;
    }

    .input-header {
      margin: 0;
    }

    .text-input {
      border-radius: 10px;
    }
  }
}

.page-content {
  .empty-messages-container {
    height: 60vh;
    text-align: center;
  }
}
